<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS -->

    <!-- load bootstrap and add some custom css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
    <!-- load angular -->
    <script src="//code.angularjs.org/1.4.0/angular.js"></script>

    <!-- load ngmessages -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <!-- load angular -->
    <script src="//code.angularjs.org/1.4.0/angular.js"></script>

    <!-- load ngmessages -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <!-- load our custom app -->
    <script src="js/app.js"></script>

    <title>Exercise 4: Find the area of a triangle where lengths are entered into a form</title>
</head>
<body class="container" ng-controller="MainCtrl as main">
<h1>Find the area of a triangle</h1>
<p>Enter the length of the 3 sides of your triangle below.</p>

<form name="myForm" nonvalidate>
<div class="form-inline" ng-class="{ 'has-error' : myForm.side1.$touched && myForm.side1.$invalid}">
    <label >Side 1</label>
        <input
                title="side1"
            type=number
            ng-model="side1"
            id="a"
            name="side1"
            class="form-control"
            ng-required="true"
            ng-minlength="0"
            step=".1">
    <div class="alert alert-danger"
         role="alert"
         ng-hide="myForm.side1.$valid"
         ng-if="myForm.side1.$touched"
         ng-message="myForm.side1.$error"
         ng-hide="myForm.side1.$valid">
        <p ng-message="required">A number is required.</p>
        <p ng-message="minlength">Your number needs to be greater than 0.</p>
    </div>
</div>
    <br />
    <h4>Side 2 <input title="side2" type=number id="b"></h4><br />
    <h4>Side 3 <input title="side3" type="number" id="c"></h4><br />
</form>

<button onclick="myFunction()">Area of my Triangle</button>

<p id="demo"></p>

<script>
    function myFunction() {

        var a = document.getElementById("a").value *1;
        console.log(typeof a);
        var b = document.getElementById("b").value *1;
        console.log(typeof b);
        var c = document.getElementById("c").value *1;
        console.log(typeof c);
        var p = (a + b + c )/2;
        console.log(typeof p);
        var x = Math.sqrt(p* ((p - a)*(p - b)*(p - c)));
        console.log(typeof x);
        document.getElementById("demo").innerHTML = x;
    }
</script>

</body>
</html>