<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->

    <!-- load bootstrap and add some custom css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">

    <!-- load angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!--&lt;!&ndash; load ng-messages &ndash;&gt;-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>-->

    <!-- load our custom app -->
    <script src="js/app.js"></script>

    <title>Exercise 4: Find the area of a triangle where lengths are entered into a form</title>
</head>
<body class="container" ng-controller="MainCtrl as main">
<h1>Find the area of a triangle</h1>
<p>Enter the length of the 3 sides of your triangle below.</p>

<form name="myForm" nonvalidate>
<div class="form-inline">
    <label >Side 1</label>
        <input
                title="side1"
            type=number
            ng-model="side1"
            id="a"
            name="side1"
            class="form-control"
            ng-required="true"
            ng-minlength="0"
            step=".1">
    <p ng-hide="myForm.side1.$valid && myForm.side1.$untouched">A number above 0 is required</p>
    <!--<div class="alert alert-danger"-->
         <!--role="alert"-->
         <!--ng-hide="myForm.side1.$valid"-->
         <!--ng-if="myForm.side1.$touched"-->
         <!--ng-message="myForm.side1.$error"-->
         <!--ng-hide="myForm.side1.$valid">-->
        <!--<p ng-message="required">A number is required.</p>-->
        <!--<p ng-message="minlength">Your number needs to be greater than 0.</p>-->
    </div>
</div>
    <br />
    <h4>Side 2 <input title="side2" type=number id="b"></h4><br />
    <h4>Side 3 <input title="side3" type="number" id="c"></h4><br />
</form>

<button onclick="myFunction()">Area of my Triangle</button>

<p id="demo"></p>



</body>
</html>